# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Database
backend/*.db
backend/*.sqlite3

# Media and Footages (Crucial so you don't exceed GitHub's 100MB limit)
footage/
events_storage/
*.mp4
*.avi
*.mkv

# Ignore all images by default (to avoid accidental large uploads)
*.jpg
*.jpeg
*.png

# EXCEPT for our baseline face registry!
!registered_faces/*.jpeg
!registered_faces/*.jpg
!registered_faces/*.png

# Ignore large binaries, models, and secrets
*.exe
scripts/mediamtx.exe
mediamtx
*.pt
*.pth
*.onnx
*.key
*.crt
*.pem
scripts/auto.crt
scripts/auto.key
scripts/playlist.txt
inference_server/face_db/faces.index

# Editor / OS Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.env
!*.env.example
